.topRubrik {
    display: flex;
    flex-direction: column;


    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.topRubrik p {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

h1 {
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

    >a {
        color: white;
    }
}

a :hover {
    text-decoration: underline;
}

a :active {
    color: white;
}


nav {
    color: white;
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;


    @media (min-width: 768px) {
        flex-direction: row;
    }
}

nav button {
    margin-bottom: 1rem;
    justify-items: center;
}

.navFullstack {
    padding: 1rem;
    margin-right: 1rem;
    flex-basis: 33.333333%;
    border-radius: 0.25rem;
    font-weight: 600;
    text-decoration: underline;
    background-image: linear-gradient(to bottom right, white 30%, #1c294e 70%);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    :hover {
        color: #0845ec;
    }

    >a {
        color: black;
        text-shadow: 2px 4px 4px rgb(58, 57, 57);

    }
}

.navFullstack:hover {
    border: 2px solid #0845ec;
    border-radius: 0.25rem;
}

.navProjektledare {
    padding: 1rem;
    margin-right: 1rem;
    flex-basis: 33.333333%;
    border-radius: 0.25rem;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, white 30%, #064E3B 70%);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    :hover {
        color: #034634;
    }

    >a {
        color: black;
        text-shadow: 2px 4px 4px rgb(58, 57, 57);
    }
}

.navProjektledare:hover {
    border: 2px solid #0bd39e;
    border-radius: 0.25rem;
}

.navSkribent {
    padding: 1rem;
    margin-right: 1rem;
    flex-basis: 33.333333%;
    border-radius: 0.25rem;
    font-weight: 600;
    text-decoration: underline;
    background-image: linear-gradient(to bottom right, white 30%, #DB2777 70%);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    :hover {
        color: #b90255;
    }

    >a {
        color: black;
        text-shadow: 2px 4px 4px rgb(58, 57, 57);
    }
}

.navSkribent:hover {
    border: 2px solid #b90255;
    border-radius: 0.25rem;
}

.navKonstLedare {
    padding: 1rem;
    margin-right: 1rem;
    flex-basis: 33.333333%;
    border-radius: 0.25rem;
    font-weight: 600;
    text-decoration: underline;
    background-image: linear-gradient(to bottom right, white 30%, #F59E0B 70%);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    :hover {
        color: #885702;
    }

    >a {
        color: black;
        text-shadow: 2px 4px 4px rgb(58, 57, 57);
    }
}


.navKonstLedare:hover {
    border: 2px solid #885702;
    border-radius: 0.25rem;
}


.kontakt {
    margin-top: 1.5rem;


    @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 2rem;
    }
}

.kontakt ul li :hover {
    color: pink;
}

.kontakt ul li a {
    color: white;
}

#kontakt-heading {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

#epost {
    text-decoration: underline;

    :hover {
        color: #A7F3D0;
    }
}

#tel {
    text-decoration: underline;

    :hover {
        color: #A7F3D0;
    }
}

#linkedin {
    text-decoration: underline;

    :hover {
        color: #A7F3D0;
    }
}