:root {
    --no-list-style: none;
    --button-radius: 0.4rem;
    --box-scale: (1.05, 1.05);
    --clr-blue: #1c294e;
    --clr-green: #064E3B;
    --clr-pink: #DB2777;
    --clr-yellow: #F59E0B;

    --font-size-m: 1.1rem;
    --font-size-lg: 1.7rem;

    --line-height: 1.55rem;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #111827;
    background-color: #F3F4F6;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: #ffffff;
    background-color: var(--clr-blue);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

hr {
    margin: 3rem;
    color: rgba(255, 255, 255, 0.226);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
}

.toppRubrik p {
    margin: 1rem 0;
    font-size: var(--font-size-lg);
    line-height: var(--line-height);
}

.kontakt {
    /* border: 0.5px solid white;
    padding: 1rem; */
    line-height:  var(--line-height);
}

.kontakt li {
    list-style: var(--no-list-style);
}

.kontakt ul li :hover {
    color: var(--clr-pink);
}

.kontakt ul li a {
    color: white;
    text-decoration: underline;
}

#kontakt-heading {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-m);
    line-height:  var(--line-height);
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
   margin: 2rem 2rem;

    >ul {
        display: flex;
        gap: 1.5rem;
        list-style: var(--no-list-style);

        :hover {
            text-decoration: none;
            color: var(--clr-pink);
        }
    }
}

nav a {
    text-align: center;
    width: 9rem;
    height: 3rem;
    display: block;
    margin-bottom: 1rem;
    text-decoration: underline;
    padding: 1rem 1rem;
    border-radius: var(--button-radius);
    font-weight: 500;
    background-color: white;
    color: var(--clr-blue);
}

@media (max-width: 600px) {
  .header-top {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  .navMain {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    width: 100%;
    padding-left: 0;
  }

  .navMain li {
    text-align: center;
    width: 100%;
  }

  .navMain a {
    display: block;
    width: 90%;
    height: 2rem;
    
  } 
}


h1 {
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

    >a {
        color: white;
    }
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

main {
    margin: auto;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 42rem;
    background-color: #ffffff;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    h3 {
        margin-bottom: 0.75rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        color: var(--clr-blue);
    }

    img {

        object-fit: cover;
        border-radius: 0.5rem;
        width: 12rem;
        height: 12rem;
        margin: 1rem;
    }

    p {

        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

/* Grid-layout för ul */
#nvaMidPage {
    display: grid;
    grid-template-columns: 1fr;
    /* En kolumn som standard (mobil) */
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Två kolumner på större skärmar */
@media (min-width: 640px) {
    #nvaMidPage {
        grid-template-columns: 1fr 1fr;
    }
}

/* Listobjekten fyller cellen */
#nvaMidPage li {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: stretch;
    /* Fyller hela gridcellen */

    :hover {
        transform: scale(1.05, 1.05);
    }
}

/* Länken fyller hela li */
#nvaMidPage li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    >span {
        margin-bottom: 1rem;
    }
}

#midpageFullstack {
    color: var(--clr-blue);
    background-image: linear-gradient(to bottom right, white 20%, var(--clr-blue) 150%);
}

#midpageProjekt {
    color: var(--clr-green);
    background-image: linear-gradient(to bottom right, white 20%, var(--clr-green) 150%);
}

#midpageSkribent {
    color: var(--clr-pink);
    background-image: linear-gradient(to bottom right, white 20%, var(--clr-pink) 150%);
}

#midpageKonstLedare {
    color: var(--clr-yellow);
    background-image: linear-gradient(to bottom right, white 20%, var(--clr-yellow) 150%);
}

#kuriosaSection {
    margin-top: 5rem;
    margin-bottom: 2rem;

    >ul {
        padding-left: 1.5rem;
        list-style-type: disc;
    }
}